<div class="container">
  <div class="row">
    <div class="col m4 s12 xl4 l4">
      <mat-card class="example-card">
        <a href="#"><img src="../../../assets/images/compare.png"></a>
        <mat-card-content>
         <h2><a href="#"> COMPARE PRODUCTS</a></h2>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col m4 s12 xl4 l4">
      <mat-card class="example-card">
        <a href="#"><img src="../../../assets/images/dim.png"></a>
        <mat-card-content>
         <h2><a href="#"> DIMENSIONS</a></h2>
        </mat-card-content>
      </mat-card>
  
    </div>
    <div class="col m4 s12 xl4 l4">
      <mat-card class="example-card">
        <a href="#"><img src="../../../assets/images/segments.png"></a>
        <mat-card-content>
         <h2><a href="#">SEGMENTATIONS</a></h2>
        </mat-card-content>
      </mat-card>
  
    </div>
    
  </div>
  <div class="row">
    <div class="col m4 s12 xl4 l4">
      <mat-card class="example-card">
        <a href="#"><img src="../../../assets/images/vehicls.png"></a>
        <mat-card-content>
         <h2><a href="#">VEHICLES</a></h2>
        </mat-card-content>
      </mat-card>
    </div>

  </div>
</div>
