<div class="container">
  <div class="row">
    <div class="col m4 s12 xl4 l4">
      <mat-card class="example-card">
        <a href="#"><img src="../../../assets/images/synthesis.png"></a>
        <mat-card-content>
         <h2><a href="#">SYNTHESIS</a></h2>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col m4 s12 xl4 l4">
      <mat-card  class="example-card">
        <a href="#/oldtab"><img src="../../../assets/images/subscription.png"></a>
        <mat-card-content>
         <h2><a href="#">SUBSCRIPTION</a></h2>
        </mat-card-content>
      </mat-card>
    </div>
</div>
</div>
