<div class="container-fluid filter-section">
  <form>
    <div class="row">
      <div class="col l12 xl3 m4 s12">
        <mat-form-field appearance="outline">
          <mat-label>Search Records</mat-label>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col s12">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Site Id Column-->
        <ng-container matColumnDef="site_id">
          <th mat-header-cell *matHeaderCellDef> Site Id </th>
          <td mat-cell *matCellDef="let element"> {{element.site_id}} </td>
        </ng-container>

        <!-- Site Name Column -->
        <ng-container matColumnDef="site_name">
          <th mat-header-cell *matHeaderCellDef> Site Name </th>
          <td mat-cell *matCellDef="let element"> {{element.site_name}} </td>
        </ng-container>

        <!-- Site Code Column -->
        <ng-container matColumnDef="site_code">
          <th mat-header-cell *matHeaderCellDef> Site Code </th>
          <td mat-cell *matCellDef="let element"> {{element.site_code}} </td>
        </ng-container>

        <!-- Country ID Column -->
        <ng-container matColumnDef="country_id">
          <th mat-header-cell *matHeaderCellDef> Country ID </th>
          <td mat-cell *matCellDef="let element"> {{element.country_id}} </td>
        </ng-container>

        <!-- Code Column -->
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef> Code </th>
          <td mat-cell *matCellDef="let element"> {{element.code}} </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="site_group">
          <th mat-header-cell *matHeaderCellDef> Site Group </th>
          <td mat-cell *matCellDef="let element">      
            <mat-select [(ngModel)]="element.site_group"  (ngModelChange)="onSiteGroupChange($event,element.site_id);"> 
              <mat-option [value]="sitegrouplist.site_group"  *ngFor="let sitegrouplist of siteGroupList">
                {{ sitegrouplist.site_group }}
              </mat-option>
            </mat-select>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>
