<div class="container">
  <div class="row">
    <div class="col m4 s12 xl4 l4">
      <mat-card class="example-card">
        <a routerLink="/competitor-matrix"><img src="../../../assets/images/matrix.png"></a>
        <mat-card-content>
         <h2>
           <!-- <a (click)="openListMatrix()">MATRIX</a> -->
           <a routerLink="/competitor-matrix">MATRIX DETAILED</a>

        </h2>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col m4 s12 xl4 l4">
      <mat-card class="example-card">
        <a routerLink="/competitor-index"><img src="../../../assets/images/index.png"></a>
        <mat-card-content>
         <h2>
           <!-- <a (click)="openListMatrix()">MATRIX</a> -->
           <a routerLink="/competitor-index">INDEX</a>

        </h2>
        </mat-card-content>
      </mat-card>
    </div>


    <div class="col m4 s12 xl4 l4">
      <mat-card  class="example-card">
        <a href="/#/website-layout"><img src="../../../assets/images/websites.png"></a>
        <mat-card-content>
         <h2><a href="/#/website-layout">WEBSITES</a></h2>
        </mat-card-content>
      </mat-card>
    </div>
</div>
<div class="row">
<div class="col m4 s12 xl4 l4">
  <mat-card class="example-card">
    <a routerLink="/competitor-matrix_simple"><img src="../../../assets/images/matrix_detail.png"></a>
    <mat-card-content>
     <h2>
       <!-- <a (click)="openListMatrix()">MATRIX</a> -->
       <a routerLink="/competitor-matrix_simple">MATRIX OVERVIEW</a>

    </h2>
    </mat-card-content>
  </mat-card>
</div>
</div>
<div>
