<div class="container">
  <div class="row">
    <div class="col m4 s12 xl4 l4">
      <mat-card class="example-card">
        <a href="#/competitor"><img src="../../../assets/images/competitor.png"></a>
        <mat-card-content>
         <h2><a href="#">COMPETITOR</a></h2>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col m4 s12 xl4 l4">
      <mat-card  class="example-card">
        <a href="#/alert"><img src="../../../assets/images/alert.png"></a>
        <mat-card-content>
         <h2><a href="#">ALERT</a></h2>
        </mat-card-content>
      </mat-card>
    </div>
</div>
</div>
